__pycache__
main.py
pronunciar.py
dataset_desde_camara.py
cascada/haarcascade_frontalface_default.xml
imagenes_entrenamiento/Angelica/*
!imagenes_entrenamiento/Angelica/__init__.py
imagenes_entrenamiento/Brando/*
!imagenes_entrenamiento/Brando/__init__.py
imagenes_entrenamiento/Wiki/*
!imagenes_entrenamiento/Wiki/__init__.py
imagenes_entrenamiento/Diego/*
!imagenes_entrenamiento/Diego/__init__.py
imagenes_entrenamiento/Julissa/*
!imagenes_entrenamiento/Julissa/__init__.py
imagenes_entrenamiento/Nelson/*
!imagenes_entrenamiento/Nelson/__init__.py
imagenes_procesadas/Angelica/*
!imagenes_procesadas/Angelica/__init__.py
imagenes_procesadas/Brando/*
!imagenes_procesadas/Brando/__init__.py
imagenes_procesadas/Wiki/*
!imagenes_procesadas/Wiki/__init__.py
imagenes_procesadas/Diego/*
!imagenes_procesadas/Diego/__init__.py
imagenes_procesadas/Julissa/*
!imagenes_procesadas/Julissa/__init__.py
imagenes_procesadas/Nelson/*
!imagenes_procesadas/Nelson/__init__.py
modelo/modelo_preentrenado_caras.pb
npy/det1.npy
npy/det2.npy
npy/det3.npy
arquitectura.txt